.cartao {
    background-color: black;
    
}

footer {
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: fantasy;
    bottom: 0;
    margin-top: 100px;
    width: auto;
}